/* Reset de estilos básicos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}

h1 {
    margin: 0;
}

.conteudo {
    padding: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
}
 
 /* Estilizando a imagem */
.ilustraçao img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Estilizando a imagem */
.caindo img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}


.card {
    background-color: #4c87af; /* Cor verde */
    color: white; /* Cor do texto no card */
    padding: 20px;
    border-radius: 10px; /* Borda arredondada */
    width: 900px; /* Largura do card */
    margin: 0 auto; /* Centraliza o card na página */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
}

/* Estilizar o texto dentro do card, se necessário */
.card p {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
